@{
    ViewData["Title"] = "Kontakt";
}

<section class="contact" id="contact">
    <h2 class="heading">Můj <span>Kontakt</span></h2>

    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Celé jméno">
            <input type="email" placeholder="Email">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Telefonní číslo">
            <input type="text" placeholder="Předmět">
        </div>
        <textarea name="" id="" cols="39" rows="10" placeholder="Vaše zpráva"></textarea>
        <input type="submit" value="Poslat zprávu" class="btn">
    </form>
</section>