@{
    ViewData["Title"] = "O mně";
}

<section class="home" id="home">
    <div class="home-content">
        <h3>Víteje, jmenuji se</h3>
        <h1><span>Tomáš Urban</span></h1>
        <p> 
            Věnuji se programování s radostí a zapálením, a věřím, že mým budoucím povoláním by mělo 
            být právě programování. Mimo jiné také rád trávím čas malováním a kreslením, 
            které mi pomáhá rozvíjet kreativitu a umělecké dovednosti.
        </p>
        <a href="#" class="btn">Kontaktuj mně</a>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100009771660643"><i class='bx bxl-facebook'></i></a>
            <a href="mailto:urban.tomas@1587mail.com"><i class='bx bxl-gmail'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="https://cz.linkedin.com/in/tom%C3%A1%C5%A1-urban-b93a421b6"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>

    <div class="home-img">
        <img src="~/images/avatar.png" alt="Profilový Obrázek" />
    </div>
</section>
