@{
    ViewData["Title"] = "Reference";
}

<section class="portfolio" id="portfolio">
    <h2 class="heading">Mé <span>Reference</span></h2>
    <div class="references-container">
        <div class="references-box">
            <h3>GitHub</h3>
            <p>Odkaz na projekty</p>
            <a href="https://github.com/UrbanCreo?tab=repositories"><i class='bx bxl-github'></i></a>
        </div>
    </div>
</section>