@{
    ViewData["Title"] = "Dovednosti";
}

<section class="services" id="services">
    <h2 class="heading">Mé <span>Dovednosti</span></h2>
    <table id="skills">
        <tr class="center">
            <td>
                <img src="~/images/html_5.png" alt="HTML" />
            </td>
            <td>
                <img src="~/images/CSharp.png" alt="CSharp" />
            </td>
            <td>
                <img src="~/images/colors.png" alt="Digitalni malba" />
            </td>
        </tr>
        <tr>
            <td>
                <h2><span>HTML</span></h2>
                <p>S HTML začínám a umím vytvořit jednoduché webové stránky, jako jsou například tyto.</p>
            </td>
            <td>
                <h2><span>C#</span></h2>
                <p>C# se učím z tutoriálů na Itnetwork.cz, dokáži tvořit jednoduché konzolové i okenní aplikace a programovat objektově.</p>
            </td>
            <td>
                <h2><span>Digitální malba</span></h2>
                <p>Ve volném čase se také rád věnuji digitální malbě nebo úpravou fotek.</p>
            </td>
        </tr>
    </table>
</section>